
<header id="header" class="header">
    <div class="container">
        <!-- Logo -->
        <div class="logo float-left">
            <a href="index-2.html" title=""><img src="~/Content/UI/images/logo-header.png" alt=""></a>
        </div>
        <!-- End Logo -->
        <!-- Bars -->
        <div class="bars" id="bars"></div>
        <!-- End Bars -->
        <!--Navigation-->
        <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
            <div class="nav-inner">
                <a href="#" class="bars-close" id="bars-close">Close</a>
                <div class="tb">
                    <div class="tb-cell">
                        <ul class="menu-list text-uppercase">
                            <li class="current-menu-parent">
                                <a href="@Url.Action("Index","Home")" title="">Home</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Tour")" title="">Tours</a>

                            </li>
                            <li>
                                <a href="@Url.Action("About","Home")" title="">About</a>

                            </li>
                            <li>
                                <a href="@Url.Action("Contact","Home")" title="">Contact</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!--End Navigation-->
    </div>
</header>
